@import '_colors.scss';

body {
  background-color: $background;
}

#app {
  display: flex;
  flex-flow: row wrap;

  #eat {
    $eat: #00FF00;
    width: 48%;
    height: 400px;
  }

  #play {
    $play: #f6ef4c;
    width: 48%;
    height: 400px;
  }

 #fight {
    $fight: #BF3EFF;
    width: 48%;
    height: 400px;
  }
  #sleep {
    $sleep:#0BB5FF;
    width: 48%;
    height: 400px;
  }
}