body {
  background-color: white;
}

#app {
  display: flex;
  flex-flow: row wrap;

  #eat {
    background-color: #00FF00;
    width: 832px;
    height: 408px;
  }

  #play {
    background-color: #f6ef4c;
    width: 832px;
    height: 408px;
  }

 #fight {
    background-color: #BF3EFF;
    width: 832px;
    height: 408px;
  }
  #sleep {
    background-color:#0BB5FF;
    width: 832px;
    height: 408px;
  }
}